# Test cases
tests/
studies/

# Results
src/sparse/results/**
src/petsc/results/**

# External libaries
ext/

# Input datas
data/

# MATLAB processing scripts
matlab/
**/*.m

# Object files
**/*.o

# PETSc working files
src/petsc/parallel/*.bin
src/petsc/parallel/*.bin.info

